body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li, ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#root {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

:root {
  --light-gray: #999392;
  --dark-gray: #575453;
  --light-blue: #2E50D4;
  --dark-blue: #1C307F;
  --input-bottom-border: #DAD2D0;

  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-large: 32px;
  --font-size-title: 52px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-Nunito: 'Nunito', sans-serif;
  --font-Montserrat: 'Montserrat', sans-serif;
}
